@import './colors.scss';

@font-face {
    font-family: WorkSans-Regular;
    src: url('../assets/fonts/static/WorkSans-Regular.ttf');
}

@font-face {
    font-family: WorkSans-Bold;
    src: url('../assets/fonts/static/WorkSans-Bold.ttf');
}

@font-face {
    font-family: WorkSans-SemiBold;
    src: url('../assets/fonts/static/WorkSans-SemiBold.ttf');
}

@media (max-width: 1439px) {
    body {
        font-family: WorkSans-Regular;
        background-image: url("../assets/images/background-pattern-mobile.svg");
        background-repeat: no-repeat;
        background-size: contain;

        .container {
            margin: 120px 23px 0 23px;
            border-radius: 7px;
            background-color: $white;

            .title {
                display: flex;
                margin: 32px 0 0 26px;

                h1 {
                    margin-left: 27px;
                    font-family: WorkSans-Bold;
                }
            }

            li {
                list-style-type: none;
                margin-left: 24px;


                ul {
                    list-style-type: none;
                }
            }


        }

        .attribution {
            font-size: 11px;
            text-align: center;

            a {
                color: hsl(228, 45%, 44%);
            }
        }
    }
}